@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1024px) {

    .header div ul,
    .header div button {
        display: none;
    }

    .ham {
        display: flex !important;
    }
}