@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .blackBtn {
        @apply text-white w-full max-w-[177px] h-12 bg-[#000] transition-all duration-[0.3s] ease-in-out;
        border: 2px solid black;
    }

    .blackBtn:hover {
        background-color: #ffffff;
        color: black;
    }

    .whiteBtn {
        @apply text-black border-solid border-2 border-zinc-950 w-full max-w-[177px] h-12 bg-white transition-all duration-[0.3s] ease-in-out
    }

    .whiteBtn:hover {
        background: black;
        color: white;
    }

    .underline {
        transition: .2s ease;
    }

    .links:hover .underline {
        @apply w-full
    }

    .socialMedia {
        @apply flex justify-center items-center w-[30px] h-[30px] bg-white rounded-full cursor-pointer;
        transition: .3s ease;
    }

    .socialMedia:hover {
        background: #FC3314;
    }

    .icon {
        transition: .3s ease;
    }

    .socialMedia:hover .icon {
        @apply invert;
    }

    .inputForm {
        @apply px-4 py-[14px] bg-white;
    }

    input,
    textarea:focus {
        outline: none;
    }

    .contactCircle {
        @apply absolute top-[50%] translate-y-[-50%] left-[-10%] max-2xl:left-[unset] max-2xl:top-[-4%] w-[221px] h-[221px] rounded-full bg-[#FC3314];
    }
}